@import url('https://fonts.googleapis.com/css?family=Roboto:100,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7e7e7;
  font-family: 'Roboto', sans-serif;
  color: #282828;
  max-height: 100vh !important;
  overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  height: 100vh !important;
  width: 100vw !important;
  margin: auto;
  z-index: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}
